*
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body
{
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 320px;
    background-image: url('../img/space2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    overflow-x: hidden;
}

header
{
    width: 100%;
    height: 43px;
    background-color: #19b5fe;
    display: flex;
    align-items: end;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

header ul
{
    display: flex;
}

header ul li
{
    padding: 10px 35px;
    background-color: #013668;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2px;
}

header ul li:hover, .top-head li:hover
{
    transition: all .420s;
    transform: scale(1.030);
    background-color: #0183ff;
    cursor: pointer;
}

header ul li a
{
    color: white;
}

header ul li:first-child
{
    border-radius: 5px 0 0 5px;
}

header ul li:last-child
{
    border-radius: 0 5px 5px 0;
}

.top-head
{
    width: 100%;
    height: 90px;
    background-color: #013668;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top-head img:hover
{
    transition: all .420s;
    transform: scale(1.050);
    cursor: pointer;
}

.top-head li:hover
{
    transition: all .420s;
    background-color: #0183ff;
    cursor: pointer;
}

.modal
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal-window
{
    width: 40%;
    height: 600px;
    background-color: #0183ff;
    border: 5px solid #35363a;
    border-radius: 15px;
    transform: translate(75%, 2.5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.modal-window h1
{
    width: 300px;
    height: 40px;
    border: 3px solid #35363a;
    border-radius: 20px;
    background-color: #013668;
    text-align: center;
    text-transform: uppercase;
}

.modal-window p
{
    font-size: 24px;
    font-weight: bold;
}

.modal-window input
{
    width: 500px;
    height: 40px;
    font-size: 24px;
    border-radius: 10px;
}

.confirm_label, .delete_label
{
    width: 200px;
    height: 36px;
    border: none;
    background-color: #013668;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.delete_label
{
    margin-top: 0;
    width: 250px;
}

.confirm_label:hover, .delete_label:hover
{
    transition: .320s;
    transform: scale(1.1);
    background-color: green;
    cursor: pointer;
}

.delete_label:hover
{
    background-color: red;
}

.modal
{
    display: none;
}

.login-label
{
    padding: 5px 40px;
    background-color: #19b5fe;
    color: white;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.login-label:hover
{
    transition: all .420s;
    background-color: #0183ff;
    cursor: pointer;
}

.r-nav ul li
{
    padding: 6px 15px;
    border-radius: 0 0 10px 10px;
    background-color: #19b5fe;
    margin-top: 6px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#login:checked ~ .modal
{
    display: block;
}

a, a:visited
{
    color: white;
}

#burgerbox, .burger
{
    display: none;
}

span
{
    display: grid;
    position: relative;
    width: 50px;
    height: 2px;
    background-color: white;
    top: 4px;
    transition: all .1s;
}

span::after, span::before
{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: white;
    transition: all .3s;
}

span::after
{
    top: 15px;
}

span::before
{
    top: -15px;
}

main
{
    flex: 1;
    display: flex;
    justify-content: center;
    z-index: 1;
}

h1, p, h2
{
    color: white;
}

.credits
{
    width: 60%;
    height: 600px;
    background: #013668;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid #0183ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credits div
{
    width: 95%;
    height: 90%;
    background-color: #35363a;
    border: 5px solid #0183ff;
    border-radius: 20px;
}

.credits div h1
{
    text-align: center;
    margin-top: 20px;
}

.credits div h2
{
    margin-top: 20px;
    margin-left: 20px;
}

footer
{
    width: 100%;
    height: 200px;
    margin-top: auto;
    background-color: #0183ff;
    display: flex;
    align-items: start;
    justify-content: space-around;
}

footer ul li
{
    display: flex;
    align-items: center;
    color: white;
}

footer ul li p
{
    margin-left: 5px;
    font-size: 20px;
}

@media screen and (max-width: 1600px)
{
    footer ul
    {
        margin-left: 10px;
    }
}
@media screen and (max-width: 1300px)
{
    .modal-window
    {
        width: 50%;
        transform: translate(50%, 2.5%);
    }
    .modal-window input
    {
        width: 350px;
    }
}
@media screen and (max-width: 1320px)
{
    footer
    {
        flex-direction: column;
        height: 500px;
    }
    footer ul
    {
        margin-left: 10px;
    }
    .credits
    {
        margin-top: 20px;
    }
    @media screen and (max-width: 980px)
    {
        .credits
        {
            width: 75%;
        }
    }
    @media screen and (max-width: 768px)
    {
        .credits
        {
            width: 80%;
        }
        .modal-window
        {
            width: 60%;
            transform: translate(30%, 2.5%);
        }
    }
    @media screen and (max-width: 640px)
    {
        .modal-window
        {
            width: 70%;
            transform: translate(20%, 2.5%);
        }
        .modal-window input
        {
            width: 300px;
        }
    }
    @media screen and (max-width: 576px)
    {
        #burgerbox:checked ~ ul
        {
            display: block;
        }
        header ul
        {
            display: none;
            position: absolute;
            top: -7px;
            right: 0;
            left: 0;
            margin-top: 50px;
            background-color: #0183ff;
        }
        header ul li
        {
            padding: 25px;
            margin: 0;
            text-align: center;
        }

        header ul li:first-child, header ul li:last-child
        {
            border-radius: 0;
        }

        .burger
        {
            display: block;
            padding: 25px;
            cursor: pointer;
        }

        #burgerbox:checked ~ .burger span
        {
            background: none;
        }

        #burgerbox:checked ~ .burger span::after
        {
            transform: rotate(45deg);
            top: 0;
        }
        #burgerbox:checked ~ .burger span::before
        {
            transform: rotate(-45deg);
            top: 0;
        }
        .credits
        {
            width: 90%;
            height: 650px;
        }
    }
    @media screen and (max-width: 490px)
    {
        .credits
        {
            height: 680px;
        }
        @media screen and (max-width: 485px)
        {
            footer
            {
                height: 600px;
            }
        }
        @media screen and (max-width: 460px)
        {
            .credits
            {
                height: 800px;
            }
        }
    }
}